.add-contractor-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85vw;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 3px 4px 13px 2px rgba(37, 37, 37, 0.75);
  border-radius: 5px;
  animation-name: scale-when-opening-animation;
  animation-duration: 1s;
}
.contractor-name-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
}
.create-contractor-header {
  text-align: center;
  margin-bottom: 20px;
}
.contractor-input-holder {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 10px;
  width: fit-content;
  flex-wrap: wrap;
  justify-content: center;
}
.add-contractor-services-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  box-shadow: 3px 4px 13px 0px rgba(143, 125, 125, 1);
  padding: 20px;
  border-radius: 10px;
  margin: 30px;
  width: 100%;
}
.add-contractor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.add-contractor-input-label {
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
}
.add-contractor-label-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-contractor-input-container {
  display: flex;
  flex-direction: row-reverse;
}

.add-contractor-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: right;
  direction: rtl;
}

.add-contractor-span {
  color: red;
  font-size: 14px;
  margin-top: 1px;
}

#addService-button {
  border-radius: 5px;
  border: 0;
  padding: 5px;
  height: 8vh;
  width: 20vw;
  font-size: 1vw;
  margin: 5px;
  cursor: pointer;
  transition: 0.6s;
  background-color: rgb(30, 133, 192);
  color: white;
}
#addService-button:hover {
  background-color: rgb(21, 94, 136);
}
#deleteContractor-button {
  border-radius: 5px;
  border: 0;
  padding: 5px;
  height: 8vh;
  width: 20vw;
  font-size: 1vw;
  margin: 5px;
  cursor: pointer;
  transition: 0.6s;
  background-color: rgb(224, 64, 96);
  color: white;
}
#deleteContractor-button:hover {
  background-color: rgb(209, 20, 20);
}
#createContractor-button {
  border-radius: 5px;
  border: 0;
  padding: 5px;
  height: 8vh;
  width: 20vw;
  font-size: 1vw;
  margin: 5px;
  cursor: pointer;
  transition: 0.6s;
  background-color: rgb(30, 192, 30);
  color: white;
}
#createContractor-button:hover {
  background-color: rgb(82, 98, 10);
}

@keyframes scale-when-opening-animation {
  from {
    opacity: 0%;
    scale: 0%;
  }

  to {
    opacity: 100%;
    scale: 100%;
  }
}
