.project-ironorder-table-row {
  display: flex;
  align-items: center;
  width: 80vw; /* Set the width of the table */
  margin: auto; /* Center the table horizontally */
}

.ironorder-tr-zugi {
  background: radial-gradient(
    circle,
    rgb(232, 232, 232) 0%,
    rgb(219, 219, 219) 100%
  );
  text-align: center;
  height: 110px;
  font-size: 1.6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1; /* Allow the table row to take the available width equally */
}
.ironorder-tr-notzugi {
  background: radial-gradient(
    circle,
    rgb(214, 214, 214) 0%,
    rgb(202, 202, 202) 100%
  );
  text-align: center;
  height: 110px;
  font-size: 1.6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1; /* Allow the table row to take the available width equally */
}

.ironorder-table-part,
.ironorder-table-toolpart {
  flex: 1; /* Allow the table cells to take the available width equally */
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px; /* Add some padding for better appearance */
  width: 15%;
}
.ironorder-table-leftpart {
  flex: 1; /* Allow the table cells to take the available width equally */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px; /* Add some padding for better appearance */
}

/* Additional style for the button */
.ironorder-addloan-submit-button {
  border-radius: 5px;
  border: 0;
  padding: 5px;
  width: 70px;
  font-size: 1vw;
  cursor: pointer;
  transition: 0.6s;
  background-color: rgb(30, 133, 192);
  color: white;
}
.ironorder-option-arrived {
  box-shadow: 0px 0px 3px 2px rgb(67, 144, 26);
}
.ironorder-option-pending {
  box-shadow: 0px 0px 3px 2px rgb(68, 116, 155);
}
.ironorder-option-declined {
  box-shadow: 0px 0px 3px 2px rgb(228, 90, 44);
}
.ironorder-table-arrived-header {
  font-size: 1.7vw;
  color: rgb(104, 163, 15);
  padding: 10px;
}
.ironorder-dates-headers {
  font-size: 1.4vw;
}
.ironorder-dates-headerstop {
  font-size: 1.4vw;
  color: red;
  margin-bottom: 5px;
}
.ironorder-table-datespart {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow the table cells to take the available width equally */
  border-left: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px; /* Add some padding for better appearance */
  width: 15%;
}
.ironorder-table-select {
  position: relative;
  display: flex;
  border-radius: 0.25em;
  overflow: hidden;
  width: 100px;
  text-align: center;
  height: 30px;
  background-color: rgba(144, 144, 144, 0);
  color: black;
  font-size: 1.4vw;
  cursor: pointer;
}
.ironorder-table-option {
  background-color: rgb(234, 234, 234);
}
.ironorder-table-option-button {
  border: 1px solid black;
  font-size: 1.5vw;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  cursor: pointer;
  border-radius: 15px;
  margin-right: 15px;
  transition: 0.4s;
}
.ironorder-table-option-button:hover {
  color: white;
  background-color: rgb(125, 155, 221);
}
.update-iron-order-dialog-dateinput {
  width: 80%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 8px;
  margin-bottom: 20px;
  text-align: center;
}
.update-iron-order-dialog-dateinput-div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.update-iron-order-dialog-quantityinput {
  width: 40%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 8px;
  margin-bottom: 20px;
  text-align: center;
}
.open-dialog-button {
  border: 1px solid black;
  font-size: 1.5vw;
  background-color: rgb(125, 155, 221);
  color: white;
  cursor: pointer;
  border-radius: 15px;
  margin-right: 15px;
  transition: 0.4s;
}
.open-dialog-button:hover {
  background-color: rgb(62, 110, 214);
}
