.Layout-container {
  position: relative;
}

.Layout-EndDay-btn {
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-color: #25d366;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid rgb(239, 239, 255);
  color: rgb(0, 0, 0);
  transition: 0.6s;
}
.Layout-EndDay-btn:hover {
  transform: scale(1.1);
  border: 2px solid rgb(25, 87, 17);
}

.Layout-endDayOptions-section {
  position: absolute;
  left: 80px;
  height: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  transition: 2s;
  cursor: default;
}

.Layout-endDayOptions {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #128c7e;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  border: 2px solid rgb(239, 239, 255);
  padding: 5px;
  color: white;
  cursor: pointer;
}
.Layout-endDayOptions:hover {
  transform: scale(1.1);
  color: rgb(209, 172, 6);
  border: 3px solid rgb(239, 239, 255);
}
