#project-holder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://e0.pxfuel.com/wallpapers/176/352/desktop-wallpaper-ask-re-max-re-max%E2%84%A2-of-southern-africa-real-estate-agent.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 115vh;
}

.projectPage-headline {
  margin: 30px;
  color: snow;
  text-shadow: 2px 2px 4px #000000;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-square {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  text-shadow: 2px 2px 4px #000000;
  color: rgb(15, 2, 2);
  background-image: url("https://img.freepik.com/premium-photo/blueprint-designs-home-model-construction-project-background-real-estate-housing-project-building-engineering-design-plans-residential-construction-generative-ai_225446-5227.jpg?w=2000");
  background-size: 100% 100%;
  cursor: pointer;
}
.project-square:hover {
  transform: scale(1.1);
}

.project-name {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  color: white;
}

.project-name:hover {
  color: beige;
  scale: 1.2;
}
.project-info {
  font-size: 16px;
  margin: 5px 0;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: snow;
  backdrop-filter: brightness(97%);
}
.user-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.user-square {
  padding: 10px;
  margin: 10px;
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  text-shadow: 2px 2px 4px #000000;
  color: rgb(243, 242, 242);
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-ujsfeIeUb96a5M4HJUxN3OpcuDedO1XsFQ&usqp=CAU.png"); */
  /* background-size: 100% 100%; */
  cursor: pointer;
}
.user-image {
  object-fit: contain;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.user-square:hover {
  transform: scale(1.1);
}

.user-name {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.user-name:hover {
  color: rgb(247, 241, 241);
  scale: 1.2;
}
.user-info {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  color: snow;
}
.add-user-button {
  --main-focus: #2d8cf0;
  --font-color: #dedede;
  --bg-color-sub: #222;
  --bg-color: #323232;
  --main-color: #dedede;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.add-user-button,
.add-user-button-icon,
.add-user-button-text {
  transition: all 0.3s;
}

.add-user-button .add-user-button-text {
  transform: translateX(30px);
  color: var(--font-color);
  font-weight: 600;
}

.add-user-button .add-user-button-icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-user-button-icon .add-user-button-text {
  display: flex;
}
.add-user-button .svg {
  width: 20px;
  stroke: var(--main-color);
}

.add-user-button:hover {
  background: var(--bg-color);
}

.add-user-button:hover .add-user-button-text {
  color: transparent;
}

.add-user-button:hover .add-user-button-icon {
  width: 148px;
  transform: translateX(0);
}

.add-user-button:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}
.add-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-user-header {
  margin-top: 60px;
  margin-bottom: 40px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 3px 60px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  text-shadow: 2px 2px 4px #000000;
}

.project-square,
.user-square {
  backdrop-filter: brightness(60%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}



